body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.start-image {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    position: absolute;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background: linear-gradient(45deg, #7b4397, #dc2430);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 800px; /* Adjust as necessary */
    margin: auto;
    background-image: url('create_a_2d_background_with_black_and_golden_gradient_effect-2024-07-01-091550 (1).jpg');
    background-size: cover;
    background-position: center;
}

.card {
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100px; /* Adjust width here */
    height: 150px; /* Adjust height here */
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.card.is-flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

.card-front {
    background-image: url('generate_a_single_image_of_a_card_back_design_for_a_memory_card_game_the-2024-06-30-143221.png');
    background-size: cover;
    background-position: center;
}

.card-back {
    background-image: url('8c4a9f98-3401-426b-a2cd-446a5240ac16.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 45px; /* Adjust the width of the image here */
    height: 45px; /* Adjust the height of the image here */
}

@keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

.slide-down {
    animation: slide-down 1s forwards;
}
